<header class="h-16">
  <SoundboardWeb.Components.Layouts.Navbar.navbar
    current_user={@current_user}
    current_path={@current_path}
    presences={@presences}
  />
</header>

<main class="">
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
